body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-image: url("../ExampleServer/Assets/marjan-blan-paper-unsplash.jpg");
  background-color: #d3d6db;
}

h1 {
  font-size: 64px;
  line-height: 81px;
  text-align: center;
  color: #57385c;
}
h2 {
  font-size: 32px;
  text-align: center;
  color: #57385c;
  line-height: 1.2;
}
form {
  width: 1000px;
  max-width: 510px;
  margin: 50px auto 20px;
  padding: 40px 30px 25px 30px;
  border-radius: 15px;
  background: #be3144;
  box-shadow: 15px 10px 32px -9px rgba(0, 0, 0, 0.23);
}
input {
  display: flex;
  margin: 0 auto;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}
button {
  display: flex;
  margin: 20px auto;
  width: 50px;
  padding: 5px 10px;
  cursor: pointer;
  box-shadow: 15px 10px 32px -9px rgba(0, 0, 0, 0.23);
}
button:hover {
  color: #d3d6db;
  background: #303841;
}

/* Id of task-container*/
#task-container,
#completed-tasks-container {
  width: 1000px;
  max-width: 90vw;
  margin: 1rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; /*places them in center first*/
}
/*class of task*/
.task {
  box-sizing: border-box;
  width: calc(33.33333% - 0.5rem);
  border: solid 1px rgb(65, 62, 62);
  margin-bottom: 0.5rem;
  background-color: #303841;
  padding: 0.5rem;
  color: #d3d6db;
  box-shadow: 15px 10px 32px -9px rgba(0, 0, 0, 0.23);
  cursor: pointer;
}

.task.completed {
  text-decoration: line-through;
  background-color: #303841;
  color: #d3d6db;
  box-shadow: 15px 10px 32px -9px rgba(0, 0, 0, 0.23);
}

.task > h3 {
  margin: 0;
  text-align: center;
}

.task > p {
  margin: 0.25 rem 0;
  text-align: center;
}
